<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer_container">
        <div class="footer-column">
            <h3>Địa điểm cửa hàng</h3>
            <p>
                <strong>TRỤ SỞ:</strong> Trường Đại Học Công Nghiệp Hà Nội, Cơ Sở
                1<br />
                Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội
            </p>
            <p>
                <strong>Chi Nhánh 1:</strong>
                Phường Tây Tựu, Bắc Từ Liêm, Hà Nội
            </p>
            <p>
                <strong>Chi Nhánh 2:</strong>
                Phường Lệ Chi, Gia Lâm, Hà Nội
            </p>
        </div>
        <div class="footer-column">
            <h3>Kết nối với chúng tôi</h3>
            <ul class="social-icons">
                <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container text-center">
        <p>&copy; 2024 Sport Shop. All Rights Reserved.</p>
        <a href="#">Chính sách bảo mật</a> | <a href="#">Điều khoản sử dụng</a>
    </div>
</footer>
</body>
</html>